.miniatura{
    width: 25%;
    background-color: transparent;    
    border-radius: 0%;
    border: 1px solid rgba(0,0,0,.125);    
}
.marginApti{
    margin: 0;
    width: auto;
}
.cursor{
    cursor:pointer;
    position: relative;
    z-index: 2;
}
.borde{
    border-color:$secondary;  
    z-index: 2;    
}
.tamañoTexto{
    font-size:  2vh ;
}
.tarjeta{
    border-radius: 0%;
    opacity: 80%;  
}
.card-text{
    background-color: transparent;
    white-space: nowrap;
    position:absolute;
    width: 100%;    
}
.row>*{
    padding-left: 0px;
    padding-right: 0px;
}
.informacion{
    width: 100%;
}
.linea {
    color:$primary;
    opacity: 0%;    
    transition: opacity 1s;
    
}
.linea:hover{
    background-color: $secondary;
    opacity: 70%;
    color: $primary;
}
.abajo{
    color: $primary;
    background-color: $secondary;
    opacity: 70%;
}
p{
    margin:0%;
}





