.Letranavbar, #uno{
    color:$secondary;
    
    padding-bottom: 1px;
    margin-right: .5em;    
}
.Letranavbar:hover{
    border-bottom: 2px solid ;
    //box-shadow: 0px 1px 0px $navbarColorShadow;
    //text-shadow: 1px -1px 1px $navbarColorShadow;
    color:$navbarColorShadow;
}
.Letranavbar:focus{
    color:$navbarColor;
    //text-shadow: 1px -1px 1px $navbarColorShadow;    
}
.active{
    color:$navbarColor;
    //border-bottom: 1px solid;
    //text-shadow: 1px -1px 1px $navbarColorShadow;
    
}
.navbar-brand{
    font-size: 1rem;
}
#uno{
    text-decoration: none;
}