.borde{
    border-color:$secondary;
    border:1px solid;
    overflow: visible;
   
}
.Resultados{
    color: $secondary;
    text-align: left;
    width:50%;
}
.fondo{
    background-color: $primary;
    color:$secondary;
}
.boton{
    border: 2px solid $secondary;
    background-color: $primary;
    color:$secondary;
    transition: linear ;
}
.boton:hover{
    border: 2px solid lighten($color: $primary, $amount: 10);
    background-color:$secondary;
    color: $primary;
    transition: 0.6s;
}
.formulario{
    background-color: $secondary;
    border-radius:0%; 
    opacity:15%;  
    transition: 0.6s;
}
.formulario:hover{
    opacity: 85%;  
    transition: 0.6s;
}
.superior{
    border-bottom: 1px solid $secondary;
    cursor: grab;
}
.toast-body{
    padding: 0rem;
}
.separado{
    padding: 0.75rem;
}
.equis{
   padding-left:0.50rem ;
   cursor:default;
}
.form-control{
    border: 1px solid $navbarColor;
    //transition: box-shadow 2s linear;
}
.form-control:focus{
    border-color: $secondary;   
    box-shadow: 0 0 0 3px $navbarColor;
}
.tamaño{
    width: 35%;
}
.alert-secondary{
    border-radius: 0%;
    color: $primary;
    background-color: $secondary;
    border-color: transparent;
}
.alert-break{
    border-radius: 0%;
    color: $primary;
    background-color: $secondaryShadow;
    border-color: transparent;
}
.animate__animated.animate__backOutRight{
    overflow: hidden;
}