
.slider{
   // display: flex;
    cursor: grab;
}
    
  .next,
  .prev {
    top: calc(30% - 20px);
    position: absolute;
    background: $secondary;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    z-index: 2;
    color:$primary;
    opacity:80%
  }  
  .next {
    right: 400px;
  }  
  .prev {
    left: 400px;
    transform: scale(-1);
  }
  .item{
    overflow: hidden;
    padding: 2rem;
    max-height: 80%;
    }

  .item img {
    
    width: 100%;    
    pointer-events: none;
  }
  
 